body{
    background-image: url(images/iphone.jpg);
    border: none;
    background-repeat: no-repeat;
    background-size: 1550px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    width: 500px;
}

.iphone h1{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 200px;
    display: flex;
    padding-left: 30px;
    margin-left: 1220px;
    margin-top: 30px;
    font-weight: bold; 
}
.iphone p{
    display: flex;
    text-align: center;
    color: aliceblue;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    width:  450px;
    margin-left: 1100px;
}
.login{
    display: flex;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    border: none;
}
.login .learn{
    width: 20vh;
    height: 6vh;
    border: none;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    border-radius: 55px;
    background-color: #1f5de1;
    color: #ffffff;
    margin-left: 1180px;
    margin-top: -10px;
}
.shop button{
    display: flex;
    background-color: #131212;
    color:#1f5de1;
    width: 20vh;
    height: 6vh;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    border-radius: 55px;
    border-color: #1f5de1;
    margin-top: -42px;
    margin-left: 1335px;
    padding-top: 9px;
    padding-left: 15px;
}
.login button:hover{
    background-color: #4a79df;
    transition: 0.15s;
}
.shop button:hover{
    background-color: #1f5de1;
    color:  white;
    transition: 0.15s;
}
.mac h1{
    color: rgb(23, 22, 22);
    font-size: 50px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: #ffffff solid 2px ;
    margin-top: 600px;
    margin-left: 1180px;
    font-weight: bold;  
}
.mac p{
    display: flex;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    width: 380px;
    margin-left: 1192px;
    margin-top: -5px;
}
.macimg{
    display: flex;
    border: #ffffff dashed 1px ;
    width: 300px;
    height: 350px;
    margin-left: 1000px;
    margin-top: 6px;
}

.loginm .learnm{
    width: 20vh;
    height: 6.5vh;
    border: none;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    border-radius: 55px;
    background-color: #1f5de1;
    color: white;
    margin-left: 1200px;
    margin-top: -12px;
    padding-top: -5px;
}
.buym button{
    display: flex;
    color:#1f5de1;
    width: 10.5vh;
    height: 6.5vh;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    border-radius: 55px;
    border-color: #1f5de1;
    border-width: thin;
    margin-top: -45px;
    margin-left: 1370px;
    padding-top: 11px;
    padding-left: 22px;
    background-color: #ffffff;
}
.loginm button:hover{
    background-color: #437eff;
    transition: 0.15s;
}
.buym button:hover{
    background-color: #1f5de1;
    color:  white;
    transition: 0.15s;
}
.row1 .col1{
    display: flex;
    background-image: url(images/wwdc.jpg);
    background-size: 100vh;  
    height: 90vh;
    /* padding-left: 100vh; */
    margin-left: 80vh;
    margin-right: 50vh;
    background-repeat: no-repeat;
    margin-top: 10vh;
    border-bottom: #131212  solid 80px;
}
.col2{
    display: flex;
    background-image: url(images/iwatch.jpg);
    /* background-size:100vh; */
    height: 70vh;
    background-repeat: no-repeat;
    margin-left: 200vh;
    margin-right: -50vh; 
    margin-top: 50vh;
}
.row2  .col3{
    display: flex;
    background-image: url(images/ipad.png);
    background-size: 100vh;
    margin-left: 50vh;
    margin-right: 80vh;
    background-repeat: no-repeat;
}
.row2 .col4{
    display: flex;
    background-image: url(images/tradein.jpeg);
    background-size: 100vh;
    width: 80vh;
    margin-right: -50vh;
    margin-top: -90vh;
    margin-left: 80vh;
    background-repeat: no-repeat;

}

  